.footer-container {
  position: relative;
}

.footer-container > hr {
  border: 1px solid var(--lightgray);
}

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.social-links img {
  width: 2.5rem;
  height: 2.5rem;
}

.footer-blur-1{
  bottom: 0;
  right: 15%;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
  background: red;
}

.footer-blur-2{
  bottom: 0;
  left: 15%;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
  background: rgb(255,144,0);
}

@media screen and (max-width:768px) {
  .footer {
    height: auto;
    padding: 2rem;
    gap: 1rem;
  }
   .logo-f img {
    width: 10rem;
    height: 6rem;
  }
  
  .social-links {
    gap: 1rem;
    margin-top: 1rem;
  }

  .social-links img {
    width: 2rem;
    height: 2rem;
  }
  
  .footer-blur-1,
  .footer-blur-2 {
    display: none;
  }
}
